@import url(normalize.css);
body {
    display: flex;
    flex-direction: column;
    min-width: 366px;
	font-family: 'museo_sans_cyrl';
	line-height: 1.2;
	font-size: 16px;
}
.main-wrapper {
    display: flex;
    flex-direction: row;
    width: 1100px;
    height: 100%;
    margin: auto;
}
header {
	flex: 0 0 95px;
}
header .main-wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 68px;
}
header .logo {
    flex: 0 0 auto;
    margin: 11px 79px 0 0;
}
header .description {
    flex: 0 0 auto;
    margin: 35px 30px 0 0;
}
header .contacts {
    display: flex;
    flex-direction: row;
    margin: 37px 73.86px 27.406px 0;
}
header .contacts p {
    margin-right: 5px;
    font-size: 17px;
    line-height: 0.9;
}
nav {
	flex: 0 0 39px;
	background-color: #4C4C4C;
}
nav .main-wrapper {
    justify-content: space-between;
    padding: 0 59.501px 0 68.5px;
}
nav .menu-toggle {
    display: none;
    width: 49px;
    height: 49px;
    padding: 8px;
    margin: 3.69px 0 0 0;
    cursor: pointer;
    background-color: #4C4C4C;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
}
nav .menu-toggle span {
    display: block;
    width: 29px;
    height: 3px;
    margin: 5px 0;
    background: #FFFFFF;
    transition: 0.4s;
}
nav ul {
    flex: 1 1 auto;
    display: inline-flex;
    flex-direction: row;
    margin: 11px 0 9px 0;
}
nav li { 
    margin-right: 12px;
}
nav .right {
    flex: 1 1 auto;
    display: inline-block;
    min-width: 170px;
    max-width: 263px;
    margin: 11px 0 9px 41.734px;
}
nav a {
    font-size: 12px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
main {
	flex: 0 0 100%;
    min-height: 640px;
}
main .main-wrapper {
    flex-direction: column-reverse;
}
footer {
	flex: 1 0 134px;
	border-top: 5px solid #1B8DC1;
}
footer .contacts {
	flex: 0 0 auto;
    width: 163px;
    height: 71px;
    margin: 28px 0 0 73px;
    padding-top: 1px;
}
footer .contacts p {
    margin-bottom: 5px;
    font-size: 17px;
    line-height: 1;
}
footer .info {
	flex: 1 1 auto;
    height: min-content;
    padding-left: 13px;
    margin: 28px 73px 27px 0;
    font-size: 17px;
    line-height: 1.1;
    border-left: 3px solid #000000;
}
footer .info p {
	margin-top: 9px;
}
footer .info p:first-child {
    margin-top: 0;
}
footer .social a {
    display: block;
    width: 25px;
    height: 25px;
    margin-top: 3px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 25px;
	color: #fff;
    background: #1B8DC1;
}
footer .telegram a:hover {
	background: #3cb1e7;
	color: #fff;
}
.btn {
    display: inline-block;
    width: 146px;
    height: 29px;
    padding-top: 4px;
    border-bottom: 2px solid #ab4509;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 4px;
    background-color: #fd5e02;
    color: #fff;
    text-align: center;
    text-decoration: none;
}
.btn:active {
	background-color: #fd5e02;
	border: none;
}
@media (max-width:1100px) { 
    .main-wrapper { 
        width: auto;
    } 
    nav li {
        width: min-content;
    }
}
@media (max-width:855px) { 
    nav .right {
        max-width: 170px;
        margin-left: 4px;
    }
    nav .menu-toggle {
        display: block;
    }
    nav ul {
        margin: 0;
    }
    nav li {
        display: none;
    }
    nav ul.active {
        flex-direction: column;
        padding-left: 10px;
        margin: 5.690px 0 5.690px 10px;
        min-width: 118px;
        border-left: 2px solid #FFFFFF;
    }
    nav ul.active li {
        display: block;
        width: auto;
    }
    nav ul.active li::before {
        content: "-";
        color: #FFFFFF;
    }
}
@media (max-width:604px) { 
    nav .main-wrapper {
        flex-wrap: wrap;
    }
    header .main-wrapper {
        justify-content: center;
        padding: 0 108px 0 108px;
    } 
    header .logo { margin-right: 0; }
    header .description { margin-right: 0; }
    header .contacts { margin-right: 0; }
    footer .main-wrapper {
        flex-direction: column-reverse;
        padding: 28px;
    }
    footer .info {
        padding-left: 0;
        margin: 0 0 28px 0;
        border-left: none;
    }
    footer .contacts {
        display: flex;
        flex-direction: row;
        width: 301.031px;
        height: auto;
        margin: 0 0 0 0;
    }
    footer .contacts p {
        font-size: 17px;
        line-height: 0.9;
        margin: 0 5px 0 0;
    }
}
