{% extends 'base.html' %}

{% block content %}
<div id="first" class="scrollto">
    <div class="container">
        <h1 class="animate-title">Оптимизируем и сократим ваши затраты</h1>
        <p class="animate-links">
            <a class="item animate-item" href="/offer" data-scroll="">Сократим затраты<br />на сотовую связь</a>
            <a class="item animate-item" href="/po" data-scroll="">подберем и оптимизируем <br />программное обеспечение</a>
            <a class="item animate-item" href="/install" data-scroll="">подберем и установим<br />аппаратное обеспечение</a>
        </p>
        <div class="clr"> </div>
    </div>
</div>
{% endblock %}
