{% extends 'base.html' %}

{% block content %}
<div id="install" class="scrollto">
    <div class="container">
        <h2>
            Подберем и произведем<br />
            монтаж аппаратного обеспечения
        </h2>
        <div class="wrap">
            <div class="item">
                <img decoding="async" src="static/img/a1.png" alt="" />
                <p>
                    Консалтинговые<br />
                    услуги
                </p>
                <p>
                    <a class="btn" data-reveal-id="myModal">Оставить заявку</a>
                </p>
            </div>
        </div>
        <div class="wrap">
            <div class="item">
                <img decoding="async" src="static/img/a2.png" alt="" />
                <p>
                    Выбор / закупка/<br />
                    монтаж / настройка<br />
                    аппаратного<br />
                    обеспечения
                </p>
                <p>
                    <a class="btn" data-reveal-id="myModal">Оставить заявку</a>
                </p>
            </div>
        </div>
        <div class="wrap">
            <div class="item">
                <img decoding="async" src="static/img/a3.png" alt="" />
                <p>
                    Организация<br />
                    систем<br />
                    видеонаблюденя
                </p>
                <p>
                    <a class="btn" data-reveal-id="myModal">Оставить заявку</a>
                </p>
            </div>
        </div>
        <div class="wrap">
            <div class="item">
                <img decoding="async" src="static/img/a4.png" alt="" />
                <p>
                    Построение и<br />
                    проектирование<br />
                    локальных<br />
                    вычислительных сетей
                </p>
                <p>
                    <a class="btn" data-reveal-id="myModal">Оставить заявку</a>
                </p>
            </div>
        </div>
        <div class="wrap">
            <div class="item">
                <img decoding="async" src="static/img/a5.png" alt="" />
                <p>
                    Работа с АТС.<br />
                    Настройка,<br />
                    эксплуатация
                </p>
                <p>
                    <a class="btn" data-reveal-id="myModal">Оставить заявку</a>
                </p>
            </div>
        </div>
        <div class="wrap">
            <div class="item">
                <img decoding="async" src="static/img/a6.png" alt="" />
                <p>
                    Монтаж<br />
                    систем контроля<br />
                    и учета доступа
                </p>
                <p>
                    <a class="btn" data-reveal-id="myModal">Оставить заявку</a>
                </p>
            </div>
        </div>
        <div class="clr"></div>
        <div class="descr">
            Компания предоставляет бесплатные консалтинговые услуги при выборе аппаратного обеспечения<br />
            и предлагает пакеты программ в зависимости от функции сотрудника
        </div>
    </div>
</div>
{% endblock %}
