{% extends 'base.html' %}

{% block content %}
<div id="offer" class="scrollto">
    <div class="container">
        <div class="block">
            <h3 class="animate-title">
                Хотите сократить до 30% <br />
                затрат на сотовую связь?
            </h3>
            <p class="animate-links">
                Подключим вашу организацию <br />
                к специальным корпоративным тарифам <br />
                БЕСПЛАТНО!
            </p>
            <p class="animate-links">
                <a class="btn btnon animate-item" rel="Хотите сократить до 30%" data-reveal-id="myModal">Оставить заявку</a>
            </p>
        </div>
    </div>
</div>
<div id="mobile">
    <div class="container">
        <h2 class="animate-title">Сократим затраты на сотовую связь</h2>
        <div class="icons animate-item">
            <h3 class="animate-title">Доступ к специальным тарифам</h3>
            <h3 class="animate-title">Не нужно менять номер</h3>
            <h3 class="animate-title">Среднее снижение затрат 30%</h3>
            <h3 class="animate-title">Смена оператора и тарифа в течение 8 дней</h3>
            <div class="clr"> </div>
        </div>
        <p class="animate-links">
            <a class="btn btnon animate-item" rel="Сократим затраты на сотовую связь" data-reveal-id="myModal">
                Получить доступ к специальным тарифам
            </a>
        </p>
    </div>
</div>
<div id="how">
    <div class="container">
        <h2 class="animate-title">Как мы сократим затраты</h2>
        <div class="icons animate-item">
            <h3 class="animate-title">
                Позвоните нам по номеру<br />
                +7 (3822) 97-79-97 или<br />
                <a class="btn btnon animate-item" rel="Как мы сократим затраты" data-reveal-id="myModal">Оставить заявку</a>
            </h3>
            <h3 class="animate-title">
                Мы проанализируем ваши<br />
                затраты и подберем<br />
                оптимальный тариф
            </h3>
            <h3 class="animate-title">
                Оформим пакет<br />
                документов
            </h3>
            <h3 class="animate-title">
                Перевод на новый<br />
                тариф в течение<br />
                8 дней
            </h3>
            <h3 class="animate-title">
                Вы экономите до 30%<br />
                благодаря подключению<br />
                к новому тарифу
            </h3>
            <div class="clr"></div>
        </div>
    </div>
</div>
{% endblock %}
