{% extends 'base.html' %}

{% block content %}
<div id="po" class="scrollto">
    <div class="container">
        <h2>Подберем и оптимизируем ПО</h2>
        <div class="wrap">
            <div class="item">
                <img decoding="async" src="static/img/p1.png" alt="" />
                <h3>
                    Консалтинговые<br />
                    услуги
                </h3>
                <p>
                    <a class="btn btnon" rel="Отслеживание необходимых обновлений" data-reveal-id="myModal">Оставить заявку</a>
                </p>
            </div>
        </div>
        <div class="wrap">
            <div class="item">
                <img decoding="async" src="static/img/p2.png" alt="" />
                <h3>
                    Выбор/ закупка/<br />
                    установка / настройка/<br />
                    оптимизация ПО
                </h3>
                <p>
                    <a class="btn btnon" rel="Отслеживание необходимых обновлений" data-reveal-id="myModal">Оставить заявку</a>
                </p>
            </div>
        </div>
        <div class="wrap">
            <div class="item">
                <img decoding="async" src="static/img/p3.png" alt="" />
                <h3>
                    Отслеживание<br />
                    необходимых<br />
                    обновлений
                </h3>
                <p>
                    <a class="btn btnon" rel="Отслеживание необходимых обновлений" data-reveal-id="myModal">Оставить заявку</a>
                </p>
            </div>
        </div>
        <div class="wrap">
            <div class="item">
                <img decoding="async" src="static/img/p4.png" alt="" />
                <h3>
                    Ведение перечня<br />
                    существующего<br />
                    ПО
                </h3>
                <p>
                    <a class="btn btnon" rel="Ведение перечня существующего ПО" data-reveal-id="myModal">Оставить заявку</a>
                </p>
            </div>
        </div>
        <div class="wrap">
            <div class="item">
                <img decoding="async" src="static/img/p5.png" alt="" />
                <h3>
                    Организация<br />
                    системы управления<br />
                    программы<br />
                    обеспечением (SAM)
                </h3>
                <p>
                    <a class="btn btnon" rel="Организация системы управления программы обеспечением (SAM)" data-reveal-id="myModal"
                        >Оставить заявку</a
                    >
                </p>
            </div>
        </div>
        <div class="wrap">
            <div class="item">
                <img decoding="async" src="static/img/p6.png" alt="" />
                <h3>Программирование</h3>
                <p>
                    <a class="btn btnon" rel="Программирование" data-reveal-id="myModal">Оставить заявку</a>
                </p>
            </div>
        </div>
        <div class="wrap">
            <div class="item">
                <img decoding="async" src="static/img/p7.png" alt="" />
                <h3>
                    Web &#8212; технологии<br />
                    (MS SharePoint,<br />
                    MS IIS,Apache, Nginx)
                </h3>
                <p>
                    <a class="btn btnon" rel="Web - технологии (MS SharePoint, MS IIS,Apache, Nginx)" data-reveal-id="myModal"
                        >Оставить заявку</a
                    >
                </p>
            </div>
        </div>
        <div class="wrap">
            <div class="item">
                <img decoding="async" src="static/img/p8.png" alt="" />
                <h3>
                    Программные шлюзы<br />
                    в сеть Интернет
                </h3>
                <p>
                    <a class="btn btnon" rel="Программные шлюзы в сеть Интернет" data-reveal-id="myModal">Оставить заявку</a>
                </p>
            </div>
        </div>
        <div class="wrap">
            <div class="item">
                <img decoding="async" src="static/img/p9.png" alt="" />
                <h3>
                    Настройка<br />
                    файлового<br />
                    сервера
                </h3>
                <p>
                    <a class="btn btnon" rel="Настройка файлового сервера" data-reveal-id="myModal">Оставить заявку</a>
                </p>
            </div>
        </div>
        <div class="wrap">
            <div class="item">
                <img decoding="async" src="static/img/p10.png" alt="" />
                <h3>
                    Работы<br />
                    с базами данных
                </h3>
                <p>
                    <a class="btn btnon" rel="Работы с базами данных" data-reveal-id="myModal">Оставить заявку</a>
                </p>
            </div>
        </div>
        <div class="wrap">
            <div class="item">
                <img decoding="async" src="static/img/p11.png" alt="" />
                <h3>
                    Настройка<br />
                    почтовой<br />
                    системы
                </h3>
                <p>
                    <a class="btn btnon" rel="Настройка почтовой системы" data-reveal-id="myModal">Оставить заявку</a>
                </p>
            </div>
        </div>
        <div class="wrap">
            <div class="item">
                <img decoding="async" src="static/img/p12.png" alt="" />
                <h3>
                    Настройка<br />
                    сетевых<br />
                    хранилищ
                </h3>
                <p>
                    <a class="btn btnon" rel="Настройка сетевых хранилищ" data-reveal-id="myModal">Оставить заявку</a>
                </p>
            </div>
        </div>
        <div class="wrap">
            <div class="item">
                <img decoding="async" src="static/img/p13.png" alt="" />
                <h3>
                    Установка<br />
                    систем<br />
                    визуализации
                </h3>
                <p>
                    <a class="btn btnon" rel="Установка систем визуализации" data-reveal-id="myModal">Оставить заявку</a>
                </p>
            </div>
        </div>
        <div class="wrap">
            <div class="item">
                <img decoding="async" src="static/img/p14.png" alt="" />
                <h3>
                    Системы<br />
                    безопасности
                </h3>
                <p>
                    <a class="btn btnon" rel="Системы безопасности" data-reveal-id="myModal">Оставить заявку</a>
                </p>
            </div>
        </div>
        <div class="wrap">
            <div class="item">
                <img decoding="async" src="static/img/p15.png" alt="" />
                <h3>
                    Службы<br />
                    удаленных<br />
                    рабочих столов
                </h3>
                <p>
                    <a class="btn btnon" rel="Службы удаленных рабочих столов" data-reveal-id="myModal">Оставить заявку</a>
                </p>
            </div>
        </div>
        <div class="clr"></div>
    </div>
</div>
<div id="what">
    <div class="container">
        <h2 class="animate-title">IBTCOM это</h2>
        <div class="icons animate-item">
            <h3 class="animate-title">
                Высококвалифицированная<br />
                помощь при выборе<br />
                программного обеспечения
            </h3>
            <h3 class="animate-title">
                Работа напрямую<br />
                с крупнейшими<br />
                дистрибьюторами<br />
                и ресселерами ПО
            </h3>
            <h3 class="animate-title">
                Продажа<br />
                специализированного ПО
            </h3>
            <h3 class="animate-title">
                Формирование<br />
                пакета программ<br />
                в зависимости<br />
                от функции сотрудника
            </h3>
            <div class="clr"></div>
        </div>
    </div>
</div>
{% endblock %}
